.submitButton {
    font-size: 14pt;
    margin: 5px;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 20px;
    width:min-content;
    align-self: flex-end;
    color: var(--dusk);
    transition: background 0.2s ease;
    &:hover { background: var(--flame); }
}

.checkbox {
    display: flex;
    align-items: center;
}

.bubblet {
    width: 16px;
    height: 16px;
    border: 1px solid var(--flame);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        .info{
        display: block;}
    }
    .info {
        border-radius: 5px;
        border: 1px solid gray;
        position:absolute;
        z-index: 1;
        background-color: gray;
        bottom: 25%;
        left: 50px;
        display: none;
        padding-inline: 6px;
    }
}

.dropdown {
    width:75px;
    height:25px;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
    font-family: var(--font);
    .ddHolder {
        position: relative;
        top: 25px;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        &, & > * {
            user-select: none;
            color: var(--dusk);
            border: 1px solid black;
            background-color: white;
            & :hover {
                transition: background-color 0.2s ease-in-out;
                background-color: var(--rust);
            }
        }
    }
}

.verticalExpander {
    flex-grow: 1;
}