@import './global.css';
@import './colors.css';

h1, h2 {
    font-family: var(--font);
    width: fit-content;
    font-weight: 100;
    color: var(--crust);
    font-size: 16pt;
    text-shadow: 1px 1px 1px black;
}

h2 {
    position: relative;
    left: 50pt;
    width: fit-content;
}