@import './colors.css';
@import './global.css';

.panes {
    display: flex;
}

.smallPane {
    width:15%;
    height: calc(100vh - var(--banner-height));
    background-color: var(--dusk);
    transition: width 0.15s ease-in;
    border-right: 1px solid black;

    .paneTab {
        position: relative;
        left: 100%;
        top: 90%;
        background-color: var(--dusk);
        border-radius: 0 10px 10px 0;
        border-left: 1px solid black;
        font-size: 200%;
    }
}

.minimized {
    width: 1%;
}

.largePane {
    flex-grow: 1;
    display: flex;
    height: calc(100vh - var(--banner-height));
    background-color: var(--husk);
}

.verticalSpacer {
    height: 100%;
}
.horizontalSpacer {
    width: 100%;
}